[connectivity]
nk=cmac_0:1:cmac_0

nk=pageRank_0:1:pageRank_0


#Connect Network Layer to CMAC DO NOT CHANGE
stream_connect=cmac_0.M_AXIS:pageRank_0.s_axis_mFPGA
stream_connect=pageRank_0.m_axis_mFPGA:cmac_0.S_AXIS


sp=pageRank_0.m_axi_00:HBM[0:31]
sp=pageRank_0.m_axi_01:HBM[0:31]
sp=pageRank_0.m_axi_02:HBM[0:31]
sp=pageRank_0.m_axi_03:HBM[0:31]
sp=pageRank_0.m_axi_04:HBM[0:31]
sp=pageRank_0.m_axi_05:HBM[0:31]
sp=pageRank_0.m_axi_06:HBM[0:31]
sp=pageRank_0.m_axi_07:HBM[0:31]
sp=pageRank_0.m_axi_08:HBM[0:31]
sp=pageRank_0.m_axi_09:HBM[0:31]
sp=pageRank_0.m_axi_10:HBM[0:31]
sp=pageRank_0.m_axi_11:HBM[0:31]
sp=pageRank_0.m_axi_12:HBM[0:31]
sp=pageRank_0.m_axi_13:HBM[0:31]
sp=pageRank_0.m_axi_14:HBM[0:31]
sp=pageRank_0.m_axi_15:HBM[0:31]
sp=pageRank_0.m_axi_16:HBM[0:31]
sp=pageRank_0.m_axi_17:HBM[0:31]
sp=pageRank_0.m_axi_18:HBM[0:31]
sp=pageRank_0.m_axi_19:HBM[0:31]
sp=pageRank_0.m_axi_20:HBM[0:31]
sp=pageRank_0.m_axi_21:HBM[0:31]



[clock]
freqHz=200000000:pageRank_0.clock
freqHz=200000000:cmac_0.ap_clk
freqHz=100000000:cmac_0.clk_gt_freerun


[advanced]
param=compiler.userPostSysLinkOverlayTcl=/beta/shahawy/mfpga_ws/VNx/xup_vitis_network_example/Ethernet/post_sys_link.tcl
param=compiler.worstNegativeSlack=-0.1

[vivado]
prop=run.impl_1.strategy=Performance_NetDelay_low