**/output*
.bloop
.metals
.vscode
**/project/*
**target/
**/.bsp

.chache*
.Xil*
*.log
*.jou
*.bit
*.sim
*.ip_user_files
*.hw
*.gen
*.cache
*.runs
**/logs
**/build/
**/.theia
**/.wsdata
**/.autopilot
